[submodule "rfplayer"]
	path = rfplayer
	url = git@github.com:eeyzs1/rfplayer.git
[submodule "pytorch_general_techs"]
	path = pytorch_general_techs
	url = git@github.com:eeyzs1/pytorch_general_techs.git
[submodule "agent_dev"]
	path = agent_dev
	url = git@github.com:eeyzs1/agent_dev.git
[submodule "rftranslator"]
	path = rftranslator
	url = git@github.com:eeyzs1/rftranslator.git
[submodule "agent_demos"]
	path = agent_demos
	url = git@github.com:eeyzs1/agent_demos.git
[submodule "FE"]
	path = FE
	url = git@github.com:eeyzs1/FE.git
[submodule "company_analyzer"]
	path = company_analyzer
	url = git@github.com:eeyzs1/company_analyzer.git
[submodule "im_micro_svcs"]
	path = im_micro_svcs
	url = git@github.com:eeyzs1/im_micro_svcs.git
[submodule "vector_db"]
	path = vector_db
	url = git@github.com:eeyzs1/vector_db.git
[submodule "webcrawler"]
	path = webcrawler
	url = git@github.com:eeyzs1/webcrawler.git
[submodule "AIMSA"]
	path = AIMSA
	url = git@github.com:eeyzs1/AIMSA.git
